<p><h2><b>Rules:</b></h2></p>
<ol>
  <li>Matches are best of three.</li>
  <li>A trainer cannot face themselves.</li>
</ol>
<p><b>Note:</b> You will be redirected to this page if any of these conditions are not met.</p>
<hr>

<form method="post" action="/matches/<%= @match.id %>">

<label for="trainer1-select">Trainer Name: </label>
<select name="trainer1_id" id="trainer1-select" selected="<%= @match.trainer1_id %>">
  <% @trainers.each do |trainer| %>
  <% if trainer.id == @match.trainer1_id %>
    <option value=<%= trainer.id %>selected><%= trainer.name %></option>
    <% else %>
      <option value=<%= trainer.id %>><%= trainer.name %></option>
      <% end %>
  <% end %>
</select>
<br>
<label for="home-score">Score: </label>
<select name="home_score" id="home-score" value=<%= @match.home_score %> >
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
<br>
<label for="trainer2-select">Trainer Name: </label>
<select name="trainer2_id" id="trainer2-select" selected="<%= @match.trainer2_id %>">
  <% @trainers.each do |trainer| %>
  <% if trainer.id == @match.trainer2_id %>
    <option value=<%= trainer.id %>selected><%= trainer.name %></option>
    <% else %>
      <option value=<%= trainer.id %>><%= trainer.name %></option>
      <% end %>
  <% end %>
</select>
<br>
<label for="away-score">Score: </label>
<select name="away_score" id="away-score" value=<%= @match.away_score %> >
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
<br>
<input type="Submit" value="Edit Match">

</form>
