<form method="post" action="/matches/<%= @match.id %>">

<label for="trainer1-select">Trainer Name: </label>
<select name="trainer1_id" id="trainer1-select" selected="<%= @match.trainer1_id %>">
  <% @trainers.each do |trainer| %>
  <% if trainer.id == @match.trainer1_id %>
    <option value=<%= trainer.id %>selected><%= trainer.name %></option>
    <% else %>
      <option value=<%= trainer.id %>><%= trainer.name %></option>
      <% end %>
  <% end %>
</select>

<label for="home-score">Score: </label>
<input type="number" id="home-score" name="home_score" value=<%= @match.home_score %>>

<label for="trainer2-select">Trainer Name: </label>
<select name="trainer2_id" id="trainer2-select" selected="<%= @match.trainer2_id %>">
  <% @trainers.each do |trainer| %>
  <% if trainer.id == @match.trainer2_id %>
    <option value=<%= trainer.id %>selected><%= trainer.name %></option>
    <% else %>
      <option value=<%= trainer.id %>><%= trainer.name %></option>
      <% end %>
  <% end %>
</select>

<label for="away-score">Score: </label>
<input type="number" id="away-score" name="away_score" value=<%= @match.away_score %>>

<input type="Submit" value="Edit Match">

</form>
