<h1><b><u>Match List:</u></b></h1>

<p><h2><b>Match Standards</b></h2></p>
<ol>
  <li>Matches follow a standard head to head format.</li>
  <li>Each trainer has three pokemon in their team.</li>
  <li>Matches are played out in a best of three.</li>
</ol>
<hr>

<% @matches.each do |match| %>
  <p><%= match.trainer1.first.name %> <b><%= match.home_score %></b> - <b><%= match.away_score %></b> <%= match.trainer2.first.name %></p>
  <p><a href="/matches/<%= match.id %>"> Match Details </a></p>
  <hr/>
<% end %>

<p><a href="/matches/new"> Add Match </a></p>
